#footer {
  height: 20vh;
}
#footer #footer1 {
  font-weight: bold;
}

.instagram {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid;
  color: orange;
  border-radius: 5px orange;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.instagram:hover {
  background-color: orange;
  color: #fff;
}

.facebook {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid;
  color: orange;
  border-radius: 5px orange;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.facebook:hover {
  background-color: orange;
  color: #fff;
}

.mail {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid;
  color: orange;
  border-radius: 5px orange;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.mail:hover {
  background-color: orange;
  color: #fff;
}