@charset "UTF-8";
#quereparamos {
  height: 30vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(0, 0, 0) 2%, rgb(45, 154, 253) 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#lista¨ {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#ubicacion {
  height: 5vh;
}

#main {
  height: 85vh;
}

.iconos {
  width: 25px;
  height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#consultanos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  background-color: aqua;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.titulos {
  font-family: "Mochiy Pop One", sans-serif;
  background-color: rgb(243, 165, 50);
  text-align: center;
  margin-bottom: 10px;
}

#ubicacionTexto {
  font-size: x-small;
  font-family: fantasy;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-animation-name: animacion1;
          animation-name: animacion1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes animacion1 {
  0% {
    font-size: large;
  }
  45% {
    font-size: x-large;
  }
  100% {
    font-size: xx-large;
  }
}

@keyframes animacion1 {
  0% {
    font-size: large;
  }
  45% {
    font-size: x-large;
  }
  100% {
    font-size: xx-large;
  }
}
#carr1 {
  margin-left: 30%;
}

#carr2 {
  margin-left: 30%;
}

#carr3 {
  margin-left: 30%;
}

#carr4 {
  margin-left: 10%;
}

#carr5 {
  margin-left: 30%;
}

#botonatras {
  background-color: black;
}

#botonadelante {
  background-color: black;
}