.container {
  width: 100%;
  display: flex;
  max-width: 1100px;
}
.container .card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.container .card .card-body {
  padding: 15px;
  text-align: center;
}
.container .card .card-body a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid;
  color: blue;
  transition: all 400ms ease;
}
.container .card .card-body a:hover {
  background-color: blue;
  color: #fff;
}

.card img {
  width: 100%;
  height: 150px;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  transform: translateY(-3%);
}

#footer {
  height: 20vh;
  width: 100%;
}
#footer #footer1 {
  font-weight: bold;
}

.instagram {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid;
  color: orange;
  border-radius: 5px orange;
  transition: all 400ms ease;
}
.instagram:hover {
  background-color: orange;
  color: #fff;
}

.facebook {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid;
  color: orange;
  border-radius: 5px orange;
  transition: all 400ms ease;
}
.facebook:hover {
  background-color: orange;
  color: #fff;
}

.mail {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid;
  color: orange;
  border-radius: 5px orange;
  transition: all 400ms ease;
}
.mail:hover {
  background-color: orange;
  color: #fff;
}

#header {
  height: 25vh;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 1800px;
}

#quereparamos {
  height: 30vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(0, 0, 0) 2%, rgb(45, 154, 253) 100%);
  align-items: center;
  justify-content: center;
  align-content: center;
}

#listamarcas {
  display: flex;
  list-style: none;
  width: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 50px;
  margin-top: 20px;
}

#ubicacion {
  height: 5vh;
}

#main {
  height: 85vh;
}

.iconos {
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

#consultanos {
  display: flex;
  width: 100%;
  height: 85vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(0, 0, 0) 2%, rgb(45, 154, 253) 100%);
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  color: antiquewhite;
  margin-bottom: 30px;
}

.slide-left {
  -webkit-animation: slide-left 0.9s linear both;
          animation: slide-left 0.9s linear both;
}

@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(650px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(650px);
  }
}
.rotate-scale-down-horizontal {
  -webkit-animation: rotate-scale-down-horizontal 1.2s linear both;
          animation: rotate-scale-down-horizontal 1.2s linear both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rotate-scale-down-horizontal {
  0% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(0.5) rotateX(-180deg);
  }
  100% {
    transform: scale(1) rotateX(-360deg);
  }
}

@keyframes rotate-scale-down-horizontal {
  0% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(0.5) rotateX(-180deg);
  }
  100% {
    transform: scale(1) rotateX(-360deg);
  }
}
.titulos {
  font-family: "Mochiy Pop One", sans-serif;
  background-color: rgb(243, 165, 50);
  text-align: center;
  margin-bottom: 10px;
}

#ubicacionTexto {
  font-size: x-small;
  font-family: fantasy;
  display: flex;
  width: 200px;
  text-align: center;
  margin-left: 250px;
  margin-top: 100px;
  -webkit-animation-name: animacion1;
          animation-name: animacion1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes animacion1 {
  0% {
    transform: scale(0.5);
    transform-origin: center top;
  }
  100% {
    transform: scale(4);
    transform-origin: center top;
  }
}

@keyframes animacion1 {
  0% {
    transform: scale(0.5);
    transform-origin: center top;
  }
  100% {
    transform: scale(4);
    transform-origin: center top;
  }
}
#carr1 {
  margin-left: 30%;
}

#carr2 {
  margin-left: 30%;
}

#carr3 {
  margin-left: 30%;
}

#carr4 {
  margin-left: 10%;
}

#carr5 {
  margin-left: 30%;
}

#botonatras {
  background-color: black;
}

#botonadelante {
  background-color: black;
}

#parrafos2 {
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  background-color: lightblue;
  text-align: center;
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 60px;
}

#fotolocal {
  width: 100%;
  height: 60vh;
  margin-top: 10px;
  margin-bottom: 50px;
}

#carrousel1 {
  margin-top: 200px;
}

.slide-top {
  -webkit-animation: slide-top 0.9s;
          animation: slide-top 0.9s;
}

@-webkit-keyframes slide-top {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.9s linear both;
          animation: slide-bottom 0.9s linear both;
}

@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  display: grid;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    display: grid;
    min-height: 100vh;
    overflow-x: hidden;
  }
}
@media (max-width: 575.98px) and (max-width: 575.98px) {
  body {
    background-color: rgb(199, 245, 245);
  }
}
@media (max-width: 575.98px) {
  #header {
    height: 30vh;
    margin-bottom: 50px;
    z-index: 10;
  }
}
@media (max-width: 575.98px) {
  #main {
    height: 180vh;
    z-index: 2;
  }
}
@media (max-width: 575.98px) {
  #footer {
    height: 40vh;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
  }
}
@media (max-width: 575.98px) {
  .parrafos2 {
    display: flex;
    font-size: 1cm;
    font-family: "Ubuntu", sans-serif;
    background-color: coral;
    text-align: center;
    width: auto;
    text-justify: auto;
  }
}
@media (max-width: 575.98px) {
  #fotolocal {
    width: 100%;
    height: 50%;
    margin-top: 5px;
  }
}
@media (max-width: 575.98px) {
  .mapa {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 575.98px) {
  #logo {
    height: 200px;
    width: 100%;
    display: flex;
    border: 10px solid orange;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: baseline;
  }
}
@media (max-width: 575.98px) {
  #listamarcas {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .slide-left {
    -webkit-animation: slide-left 0.7s linear both;
            animation: slide-left 0.7s linear both;
  }
}
@media (max-width: 575.98px) {
  @-webkit-keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
}
@media (max-width: 575.98px) {
  .rotate-scale-down-horizontal {
    -webkit-animation: rotate-scale-down-horizontal 1.2s linear both;
            animation: rotate-scale-down-horizontal 1.2s linear both;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}
@media (max-width: 575.98px) {
  @-webkit-keyframes rotate-scale-down-horizontal {
    0% {
      transform: scale(1) rotateX(0);
    }
    50% {
      transform: scale(0.5) rotateX(-180deg);
    }
    100% {
      transform: scale(1) rotateX(-360deg);
    }
  }
  @keyframes rotate-scale-down-horizontal {
    0% {
      transform: scale(1) rotateX(0);
    }
    50% {
      transform: scale(0.5) rotateX(-180deg);
    }
    100% {
      transform: scale(1) rotateX(-360deg);
    }
  }
}
@media (max-width: 575.98px) {
  #ubicacionTexto {
    font-size: x-small;
    font-family: fantasy;
    display: flex;
    width: 200px;
    justify-content: center;
    text-align: center;
    margin-right: 400px;
    margin-bottom: 100px;
    -webkit-animation-name: animacion1;
            animation-name: animacion1;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}
@media (max-width: 575.98px) {
  @-webkit-keyframes animacion1 {
    0% {
      transform: scale(0.5);
      transform-origin: center top;
    }
    100% {
      transform: scale(2.5);
      transform-origin: center top;
    }
  }
  @keyframes animacion1 {
    0% {
      transform: scale(0.5);
      transform-origin: center top;
    }
    100% {
      transform: scale(2.5);
      transform-origin: center top;
    }
  }
}
@media (max-width: 575.98px) {
  #carr1 {
    margin-left: 20%;
  }
}
@media (max-width: 575.98px) {
  #carr2 {
    margin-left: 20%;
  }
}
@media (max-width: 575.98px) {
  #carr3 {
    margin-left: 20%;
  }
}
@media (max-width: 575.98px) {
  #carr4 {
    margin-left: 20%;
  }
}
@media (max-width: 575.98px) {
  #carr5 {
    margin-left: 20%;
  }
}
@media (max-width: 767.98px) {
  #header {
    height: 30vh;
    margin-bottom: 50px;
    z-index: 10;
  }
  #main {
    height: 180vh;
    z-index: 2;
  }
  body {
    display: grid;
    min-height: 100vh;
  }
  #footer {
    height: 60vh;
    width: 100%;
  }
  #parrafos2 {
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    background-color: lightblue;
    text-align: center;
    width: auto;
    height: auto;
  }
}
@media (max-width: 991.98px) {
  body {
    display: grid;
    min-height: 100vh;
  }
  #header {
    height: 30vh;
    margin-bottom: 50px;
    z-index: 10;
  }
  #main {
    height: 190vh;
    z-index: 2;
  }
  #footer {
    height: 60vh;
    width: 100%;
  }
  #quereparamos {
    margin-top: 30px;
  }
  #parrafos2 {
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    background-color: lightblue;
    text-align: center;
    width: auto;
    height: auto;
  }
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  body {
    display: grid;
    min-height: 100vh;
  }
  #header {
    height: 30vh;
    margin-bottom: 50px;
    z-index: 10;
  }
  #main {
    height: 180vh;
    z-index: 2;
  }
  #footer {
    height: 60vh;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */