#footer{
    height:20vh;
    width: 100%;
    

    #footer1 {
    font-weight:bold;
    }
}


 .instagram{
text-decoration: none;
display: inline-block;
padding: 5px;
margin-top: 10px;
border: 1px solid;
color: orange;
border-radius: 5px orange;
transition: all 400ms ease;

&:hover{
    background-color:orange ;
    color:#fff;
}
}
       


.facebook{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid;
    color: orange;
    border-radius: 5px orange;
    transition: all 400ms ease;

            &:hover{
             background-color:orange ;
             color:#fff;
            }
        }


