@import"./_variables.scss";
@import"./_mixins.scss";
@import"./_card.scss";
@import"./_footer.scss";
@import"./_header.scss";
@import"./_main.scss";

body{

    display:grid;
    min-height:100vh;
    
    }


*{
    @include reset
}



/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
body{
    display:grid;
    min-height: 100vh;
    
}

@include background-query (rgb(199, 245, 245), mobile);

    #header{
    height:30vh;
    margin-bottom: 50px;
    z-index:10;
    
}
#main{

    height:180vh;
    z-index: 2;
}
#footer{
    
    height:40vh;
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
flex-wrap: wrap;
}
.parrafos2 {
    display: flex;
    font-size: 1cm;
    font-family: 'Ubuntu', sans-serif;
    background-color: coral;
    text-align: center;
    width: auto;
    text-justify: auto;
}
#fotolocal {
    width: 100%;
    height: 50%;
    margin-top: 5px;
}

.mapa{
    width: 450px;
    height: 450px;
}
#logo {
    height: 200px;
    width: 100%;
    display: flex;
    border: 10px solid orange;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: baseline;
}

#listamarcas{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 50px;
    margin-top: 20px;
    
}

.slide-left{
    animation:slide-left 0.7s linear both; 
 }
 
 
 @keyframes slide-left{0%{transform:translateX(0)}100%{transform:translateX(160px)}}


 .rotate-scale-down-horizontal {
    animation: rotate-scale-down-horizontal 1.2s linear both;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}

@keyframes rotate-scale-down-horizontal {
    0% {
        transform: scale(1) rotateX(0)
    }

    50% {
        transform: scale(.5) rotateX(-180deg)
    }

    100% {
        transform: scale(1) rotateX(-360deg)
    }
}






#carr1{
    margin-left: 20%;
}
#carr2{
    margin-left: 20%;
}
#carr3{
    margin-left: 20%;
}
#carr4{
    margin-left: 20%;
}
#carr5{
    margin-left: 20%;
}

}




// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 

    #header{
        height:30vh;
        margin-bottom: 50px;
        z-index:10;
        
    }
    #main{
    
        height: 180vh;
        z-index: 2;
    }


    body{
        display:grid;
        min-height:100vh;
    }

    #footer{
        height:60vh;
        width: 100%;
    }

}


// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

    body{
        display:grid;
        min-height:100vh;
    }

    #header{
        height:30vh;
        margin-bottom: 50px;
        z-index:10;
        
    }
    #main{
    
        height: 180vh;
        z-index: 2;
    }




    
    #footer{
        height:60vh;
        width: 100%;
    
    }

}
@media (min-width: 575.98px) and (max-width: 767.98px) {
    body{
        display:grid;
        min-height:100vh;
    }

    #header{
        height:30vh;
        margin-bottom: 50px;
        z-index:10;
        
    }
    #main{
    
        height: 180vh;
        z-index: 2;
    }


    #footer{
        height:60vh;
        width: 100%;
        
    }


} 